@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Josefin+Slab);

body { 
	text-align: center;
	background: url("http://img.huffingtonpost.com/asset/scalefit_630_noupscale/55e4bab01400002e002e487b.jpeg");
	background-size: cover;
	color: #fff;
	font-family: 'Josefin Slab', 'Helvetica', cursive;
	font-size: 40px;
}
a{
	color: #fff
}

header {
	background-color: #FFED74;
}

article {
	background-color: #E89C6C;
}


nav {
	background-color: #E8C66A;
}

footer {
	background-color: #FFE2B8;
	font-size: .4em;
}

#name{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: .7em;
}

#slogan {
	font-size: 2.2em;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 70%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 20%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 
}